{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="column">
      <section class="section">
        <article class="media">
          <div class="column is-one-third">
            <div class="media-content">
              <div class="content">
                <p><h1 is-h1>Changelog</h1>
                  <div class="box">
                    {% for asset in assetlist %}
                      <strong>{{asset['name']}}</strong> <small>borrowed by: {{asset['borrowedBy']}}</small>
                      <br>
                      on oct 10
                      <br>
                    {% endfor %}
                  </div>
                </p>
              </div>
            </div>
          </div>
          <div class="column is-four=fifths">
            <hr class="hr" style="margin-bottom: 0;">
            <div class="box">
              <div class="table__wrapper">
                <a href="{{url_for('addAsset')}}"><button class="button is-success is-small" href="{{url_for('addAsset')}}" style="width: 100px;">Create New</button></a>
                <table id="mytable" class="table">
                  <thead>
                    <tr>
                      <th> Asset Name</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for asset in assetlist2 %}
                      <tr>
                        <td><a href="{{url_for('assetspecific', asset_id=asset['name'])}}">{{ asset['name'] }}</a></td>
                        <td>{%if asset['status'] == "Free":%}
                          <button class="button is-success is-small">{{ asset['status'] }}</button>
                          {%elif asset['status'] == "Rented":%}
                          <button class="button is-danger is-small">{{ asset['status'] }}</button>
                          {%else%}
                          <button class="button is-warning is-small">{{ asset['status'] }}</button>
                          {%endif%}
                        </td>
                        <td><button class="button is-danger is-small">Delete</button></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- <button class="button is-success is-small" style="width: 100px;">Save Changes</button> -->
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
{% endblock content %}