{%extends "layout.html"%}
{%block content%}
<section class="section">
	<form method="POST" action="">
		<div class="container">
			<div class="columns">
				<div class="column is-6 is-offset-3">
					<div class="box">
						<h2 class="title is-h2">Create New Asset</h2>
						<div class="field">
							<div class="control">
								{{form.hidden_tag() }}
							</div>
						</div>
						<div class="field">
							<div class="control field is-horizontal">
								<div class="field-label">
									<label class="label">Asset Name</label>
								</div>
								<div class="field-body">
									{% if form.name.errors %}
										{{form.name(class="input is-danger")}}
										{% for error in form.name.errors %}
											<p class="help is-danger">{{ error }}</p>
										{% endfor %}
									{% else %}
										{{form.name(class="input")}}
									{% endif %}
								</div>
							</div>
						</div>
						
						<div class="field">
							<div class="control field is-horizontal">
								<div class="field-label">
									<label class="label"></label>
								</div>
								<div class="field-body">
									{{form.submit(class="button is-primary")}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
{%endblock content%}