<html>
  <head>
    {% if title %}
      <title> Asset Management System - {{title}}</title>
    {% else %}
      <title> Asset Management System - Home</title>
      {%endif %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="styles/debug.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript" ></script>
      <script>
      $(document).ready( function () {
      $('#mytable').DataTable();
      } );
      </script>
    </head>
    <body>
      <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="{{url_for('home')}}">
                  <h1 class="title is-3"> Ralphs Asset Management System</h1>
                </a>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  {%if 'username' in session and session['role'] == "admin" %}
                  <a href="http://127.0.0.1:5000/" class="navbar-item">
                    <span class="icon"><i class="fa fa-home"></i></span> Home
                  </a>
                  {%endif%}
                  {%if 'username' in session%}
                  <a href="{{url_for('signout')}}" class="navbar-item">
                    <span class="icon"><i class="fa fa-table"></i></span> Signout
                  </a>
                  {%else%}
                  <a href="{{url_for('register')}}" class="navbar-item">
                    <span class="icon"><i class="fa fa-table"></i></span> Register
                  </a>
                  {%endif%}
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <section class="section">
            <div>
              <div class="columns">
                <div class="column is-6 is-offset-3">
                  <div class="notification is-{{category}}">
                    {{ message }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </section>
    {% block content %}{% endblock %}
  </body>
</html>