{% extends "layout.html" %}
{% block content %}
	<div class="container column">
		<section>
			<div class="columns is-centered">
				<hr class="hr" style="margin-bottom: 0;">
				<div class="section">
					<div class="box">
						<div class="table__wrapper">
							<table id="mytable" class="table is-bordered">
								<thead>
									<tr>
										<th>Asset Name</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for asset in assetlist %}
										<tr>
											<td><p>{{ asset['name'] }}</p></td>
											<td>{%if asset['status'] == "Free":%}
												<button class="button is-success is-small" style="width: 80px;">{{ asset['status'] }}</button>
												<td><button class="button is-success is-small" style="width: 80px;">Request</button></td>
												{%elif asset['status'] == "Rented":%}
												<button class="button is-danger is-small" style="width: 80px;">{{ asset['status'] }}</button>
													{%if asset['borrowedBy']==session['user']%}
														<td><button class="button is-primary is-small" style="width: 80px;">Return</button></td>
													{%endif%}
												{%else%}
												<button class="button is-warning is-small" style="width: 80px;">{{ asset['status'] }}</button>
												{%endif%}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- <button class="button is-success is-small" style="width: 100px;">Save Changes</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock content %}